Welcome!

So, this is InformationSystem Prototype.
<br>
<br>
<br>
<form method="post" action="/Good">
<input type="text" name="name"> name 
<br>
<input type="text" name="region"> region 
<br>
<input type="text" name="area"> area
<br>
<input type="text" name="city"> city  
<br>
<input type="text" name="settlement"> settlement 
<br>
<input type="radio" name="status" value="commercial"> Commercial
<input type="radio" name="status" value="inhabited"> inhabited
<br>
<br>
Select floor count in the house:
<p><select size="10" name="floor_all">
    <option disabled>Choose floor all</option>
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
   </select></p>
Select yuor floor in the house:
<br>
<p><select size="10" name="floor_num">
    <option disabled>Choose floor your</option>
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
   </select></p>
<br>
<input type="text" name="price"> price
<input type="text" name="fact_price"> fact price
<br>
<input type="text" name="owner"> Owner
<br>
<button type="submit">INSERT</button>


</form>